@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*start nav coding*/
nav{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}
nav .navbar-brand{
    font-size: 30px;
    color: #5456E0;
    font-weight: bold;
}
nav .fa{
    font-size: 30px;
}
nav ul a{
    color: black;
    font-weight: bold;
}
/*end nav coding*/
/*start header text coding*/
.header-text{
    height: 100vh;
    padding: 233px 0;
}
.header-text h1{
    font-size: 70px;
    font-weight: bold;
}
.header-text h3{
    font-size: 40px;
    font-weight: bold;
}
.header-text h5{
    font-size: 25px;
    font-weight: bold;
}
.header-text button{
    border: none;
    margin-top: 20px;
}
.header-text button a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    background-color: #4A57DD;
    border: none;
    padding: 12px 30px;
    border-radius: 5px; 
    font-weight: bold; 
}
/*end header text coding*/
/*start about coding*/
.about{
    padding-top: 70px;
}
.about img{
    width: 70%;
    border-radius: 50%;
}
.about h2{
    font-weight: 900;
}
.about .row{
    display: flex;
    align-items: center;
}
.about span{
    color: #4A57DD;
}
/*end about coding*/
/*start skills coding*/
.skills{
    padding-top: 70px;
}
.skills h1{
    text-align: center;
    font-weight: bold;
}
.skills .my-skills{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skills .my-skills .box{
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}
.skills .my-skills .box .img-box{
    width: 100%;
}
.skills .my-skills .box img{
    width: 100%;
}
.skills .my-skills .img-box-1 i{
    font-size: 100px;
    padding: 0 20px;
    color: #DD4B25;
}
.skills .my-skills .img-box-2 i{
    font-size: 100px;
    padding: 0 20px;
    color: #2F4BD8;
}
.skills .my-skills .img-box-3 i{
    font-size: 100px;
    padding: 0 15px;
    color: #EFD81D;
}
.skills .my-skills .img-box-4 img{
    padding: 0 10px;
}
.skills .my-skills .img-box-5 i{
    font-size: 100px;
    padding: 0 3px;
    color: #6B409C;
}
.skills .my-skills .img-box-6 i{
    font-size: 95px;
    padding: 0 0px;
    color: #C66193;
}
.skills .my-skills .img-box-7 i{
    font-size: 100px;
    padding: 0 10px;
    color: #171A1F;
}
/*end skills coding*/
/*start projects coding*/
.projects{
    padding-top: 70px;
}
.projects h1{
    text-align: center;
    font-weight: bold;
}
.projects img{
    width: 100%;
}
.projects h3{
    color: #4A57DD;
    font-weight: bold;
}
.projects .row a{
    color: black;
    background-color: white;
    border: none;
    border: 2px solid #5456E0;
    padding: 10px 20px;
    border-radius: 5px; 
    text-decoration: none;
}
/*
.projects .my-projects img{
    width: 100%;
}
.projects .my-projects .text h3{
    margin-top: 20px;
    color: #5456E0;
}
.projects .my-projects .text button{
    border: none;
    margin-top: 10px;
}
.projects .my-projects .text a{
    color: black;
    background-color: white;
    border: none;
    border: 2px solid #5456E0;
    padding: 10px 20px;
    border-radius: 5px; 
    text-decoration: none;
}
*/
/*end projects coding*/
/*start contact coding*/
.contact{
    padding-top: 70px;
}
.contact h1{
    text-align: center;
    font-weight: bold;
}
.contact .form-box{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%; 
    padding: 30px 0px;
}
.contact .form-box .input-box{
    width: 100%;
    height: 46px;
    color: #315f52;
    background: #d1d3d4;
	border: 1px solid #b6d8cf;
    padding: 0 5px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 5px;
}
.contact .form-box .text-area{
    width: 100%;
    background: #d1d3d4;
	border: 1px solid #b6d8cf;
	color: #315f52;
    font-size: 14px;
	height: 250px;  
    padding: 0 5px;
    line-height: 30px; 
    margin-top: 5px;
}
.contact .form-box .send{
    background:#4A57DD;
	border: none;
	border-radius: 5px;
	color: #99fa99;
	cursor: pointer;
	font-family: 'latoregular';
	font-size: 14px;
	height: 30px;
	margin: 8px 0 0;
	width: 50px;
}
/*end contact coding*/
/*start footer coding*/
footer{
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    padding-top: 17px;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer .container p{
    color:#7777A2;
}
footer .container .icon .fa{
    font-size: 25px;
    color:#5456E0;
    cursor:pointer;
}
footer .container .icon .margin-right{
    margin-right: 20px;
}
/*end footer coding*/